html {
  min-height: 100%;
  height: 100vh;
  background: url(background.jpg) no-repeat scroll left bottom;
  background-size: cover;
  font-family: Segoe UI;
  font-weight: 100;
  font-size: 14pt;
  text-align: center;
  color: #555;
}

body, #app { height: 100vh; background: transparent;}