<html>
<meta charset="utf-8">
<link rel="stylesheet" href="../../bootstrap.min.css">
<link rel="stylesheet" href="../../all.min.css">
<link rel="stylesheet" href="interactiveMenu.css">
<script src="../../jquery-3.4.1.min.js"></script>
<script src="../../bootstrap.bundle.min.js"></script>
<script src="../../vue.js"></script>

<body class="bg-dark">
	<section id="app">
		<!-- Modal -->
		<div class="modal fade" id="multarModal" tabindex="-1" role="dialog" aria-labelledby="multarModalLabel"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="multarModalLabel">Formulario de multas</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Cantidad de la multa:</p>

						<table class="table">
							<tr class="cursor-pointer" :class="getClass(multaSeleccionada, desc)" v-for="desc in descripcionesMulta"
								@click="multaSeleccionada = toggleSelection(multaSeleccionada, desc)">
								<td>{{desc.description}}</td>
								<td class="text-success">${{desc.multa}}</td>
							</tr>
						</table>
						<p class="text-danger" v-if="mostrarFeedback">Selecciona una puta multa pinche pendejo
							retrasado!!</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-primary" @click="multar()">Multar</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="inventoryModal" tabindex="-1" role="dialog" aria-labelledby="inventoryModal"
			aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="inventoryModal">Inventario</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<h2 class="text-center text-success"><b>DINERO: ${{ targetPlayerInformation.cash }}</b></h2>
						<p>Objetos:</p>
						<table class="table">
							<tr class="cursor-pointer" :class="getClass(objetoAConfiscar, item)" v-for="item in targetPlayerInformation.invetory"
								@click="objetoAConfiscar = toggleSelection(objetoAConfiscar, item)">
								<td>{{item.name}}</td>
								<td>${{item.quantity}}</td>
							</tr>
						</table>
						<p class="text-danger" v-if="mostrarFeedback">Selecciona un puto objeto pinche pendejo
							retrasado!!</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-primary" @click="confiscar()">Confiscar</button>
					</div>
				</div>
			</div>
		</div>

		<div class="container mt-30vh text-white">
			<h1 class="text-center"><b>{{ targetPlayerInformation.fullName }}</b></h1>
			<h2 class="text-center"><b>{{ targetPlayerInformation.dni }}</b></h2>
			<div class="row text-center mt-5">
				<div class="col-4">
					<a @click="removerCargos()" class="btn btn-primary text-white">Remover cargos</a>
				</div>
				<div class="col-4">
					<a @click="arrestar()" class="btn btn-primary text-white">Arrestar</a>
				</div>
				<div class="col-4">
					<a class="btn btn-primary text-white" data-toggle="modal" data-target="#multarModal" @click="mostrarFeedback = false">Multar</a>
				</div>
				<div class="clearfix"></div>
				<div class="col-6 mt-5">
					<a class="btn btn-primary text-white" data-toggle="modal" data-target="#inventoryModal" @click="mostrarFeedback = false">Cachear</a>
				</div>
				<div class="col-6 mt-5">
					<a @click="esposar()" v-if="!targetPlayerInformation.isArrested"
						class="btn btn-primary text-white">Poner esposas</a>
					<a @click="esposar()" v-else class="btn btn-primary text-white">Quitar esposas</a>
				</div>
			</div>
		</div>

		<div class="b3-close" id="close-button" @click="exit">X</div>
	</section>
</body>

</html>


<script>
	const app = new Vue({
		el: '#app',
		data: {
			targetPlayerInformation: {},
			currentPatientText: "Datos personales",
			increaseText: "Increase healing speed",
			priceMulta: "",
			descripcionesMulta: [],
			multaSeleccionada: null,
			objetoAConfiscar: null,
			mostrarFeedback: false
		},
		methods: {

			removerCargos() {
				app.exit();
				mp.trigger("cMisc-CallServerEvent", "sPoliceJob-removerCargos", this.generateFrontInfo());
			},

			arrestar() {
				app.exit();
				mp.trigger("cMisc-CallServerEvent", "sPoliceJob-arrestar", this.generateFrontInfo());
			},

			multar() {
				this.mostrarFeedback = false;
				if (this.multaSeleccionada === null) {
					this.mostrarFeedback = true;
				}
				else {
					app.exit();
					mp.trigger("cMisc-CallServerEvent", "sPoliceJob-multar", this.generateFrontInfo());
				}
			},

			confiscar() {
				this.mostrarFeedback = false;
				if (this.objetoAConfiscar === null) {
					this.mostrarFeedback = true;
				}
				else {
					app.exit();
					mp.trigger("cMisc-CallServerEvent", "sPoliceJob-confiscar", this.generateFrontInfo());
				}
			},

			esposar() {
				app.exit();
				mp.trigger("cMisc-CallServerEvent", "sPoliceJob-esposar", this.generateFrontInfo());
			},

			loadTargetPlayerInformation: function (str) {
				this.targetPlayerInformation = JSON.parse(str);
				for (i = 0 ; i<this.targetPlayerInformation.invetory.lenght ; i++) {
					this.targetPlayerInformation.invetory[i].id = this.targetPlayerInformation.invetory[i].item_id;
				}
				this.descripcionesMulta = targetPlayerInformation.descripcionesMulta;
			},

			generateFrontInfo: function () {
				var obj = {
					targetPlayerInformation: this.targetPlayerInformation,
					priceMulta: this.priceMulta,
					multaSeleccionada: this.multaSeleccionada,
					objetoAConfiscar: this.objetoAConfiscar
				};
				return JSON.stringify(obj);
			},

			toggleSelection: function (obj, compare) {
				this.mostrarFeedback = false;

				if (obj === null || obj.id !== compare.id)
					obj = compare;
				else
					obj = null;
				return obj;
			},
			getClass: function (obj, compare) {
				return obj !== null && obj.id === compare.id ? 'table-success' : '';
			},

			exit: function () {
				mp.trigger("cCloseCef");
			},
		}
	});



	function loadRusLang() {
		app.currentPatientText = "Текущий пациент";
		app.increaseText = "Увеличить скорость выздоровления";
		app.healText = "Вылечить";
	}

	function loadGerLang() {
		app.currentPatientText = "Aktueller Patient";
		app.increaseText = "Erhöhen Sie die Wiederherstellungsrate";
		app.healText = "Patient Heilen";
	}

	function loadBrLang() {

	}

	function loadzh_CNLang() {
		app.currentPatientText = "当前病患";
		app.increaseText = "加速治疗";
		app.healText = "治疗";
	}

	function loadzh_TWLang() {
		app.currentPatientText = "當前病患";
		app.increaseText = "加速治療";
		app.healText = "治療";
	}
	function loadCsLang() {
		app.currentPatientText = "Aktuální pacient";
		app.increaseText = "Zvýšit rychlost uzdravení";
		app.healText = "Uzdravit";
	}
</script>